body {
  background-color: #c8efe9;
  color: #000;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

nav {
  background-color: #022999 ;
  color: white;
}

header {
  background-color: #559dca;
  color: white;
}

#add , .news-item .a-button , .article-list .a-button , input[type="submit"]  {
  background-color: #f27d42 ;
  color: white;
  border: solid 1px #f27d42 
}

#add:hover , .news-item .a-button:hover , .article-list .a-button:hover  , input[type="submit"]:hover {
  background-color: #c8efe9;
  color: #f27d42  ;
}
  
footer {
  background-color: #022999 ;
  color: white;
}

nav a {
  color: #fff;
}

.item-card {
  background-color: #559dca;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.item-card .a-button {
  background-color: #559dca;
  color: #333;
}

.item-card .a-button:hover {
  background-color: #555;
}


th, td {
    padding: 1em;
    border-bottom: 2px solid white; 
}
thead {
    color: white;
    background-color: #f27d42;
}
tbody { 
    background-color: #eee;
    color: #000;
}

#teamslist a {
  color: #000;
}

#teamslist tr:hover {
    background: #dcdcdc;
}

#tableh {
    color: #fff;
    background-color: #333;
}
        
table {
  border-collapse: collapse;
  border-radius: 1em;
  overflow: hidden;
}

tbody td {
    padding-right: 2em;
}

  
button , .buttons{
  padding: 0.5em;
  border-radius: 5px;
  border: none;
  background-color: #559dca ;
  color: white;
  cursor: pointer;
}

button:hover , .buttons:hover {
  background-color: #f27d42;
}

button:active , .buttons:active {
  background-color: #022999;
}

#clear {
  background-color: white;
  color: black;
  border: #1a1a1a 1px solid;
}

#clear:hover {
  background-color: #eee;
}

.card , .removebutton {
  background-color: #eee;
  border: 1px solid #333;
  color: #111;
}